body{
	background-color: rgba(254, 178, 185);
	color: white;
}
footer{
	width: 100%;
	padding: 1rem;
	display: inline-block;
}
h1{
	background-color: black;
	border-radius: 15px;
	color: white;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
}
.m1{
	height: 250px;
	width: 350px;
}
.m2{
	height: 250px;
	width: 150px;
}